<div class="border rounded p-4 my-3 event-card">
    <div class="d-flex flex-wrap justify-content-between mb-3">
        <div class="d-flex align-items-center">
            <h5 class="m-0 me-1">{{event.name}}</h5>
            <ng-container *ngIf="isInvited && isAccepted">
                <span class="text-success">- Invitation Accepted </span>
                <span class="material-symbols-outlined text-success">check</span>
            </ng-container>
            <ng-container *ngIf="isInvited && !isAccepted">
                <span class="text-warning">- Invitation Pending </span>
                <span class="material-symbols-outlined text-warning">priority_high</span>
            </ng-container>
            <ng-container *ngIf="!isInvited && isAccepted">
                <span class="text-success">- Tagging Along </span>
                <span class="material-symbols-outlined text-success">check</span>
            </ng-container>
            <ng-container *ngIf="isCreator">
                <span class="text-success"> [My Event] </span>
            </ng-container>
        </div>
        <button class="btn btn-outline-danger btn-sm" *ngIf="isInvited && isAccepted" (click)="cancelRSVP()">
            Cancel RSVP
        </button>
        <button class="btn btn-outline-success btn-sm" *ngIf="isInvited && !isAccepted" (click)="acceptRSVP()">
            Accept RSVP
        </button>
        <button class="btn btn-outline-primary btn-sm" *ngIf="!isInvited && !isAccepted" (click)="tagAlong()">
            Tag Along
        </button>
        <button class="btn btn-outline-primary btn-sm" *ngIf="!isInvited && isAccepted" (click)="cancelRSVP()">
            Cancel Tag
        </button>
    </div>

    <p class="mb-4 text-pre-wrap">{{event.description}}</p>
    <div class="my-2">
        <div class="d-flex align-items-center mb-3">
            <span class="material-symbols-outlined me-2">account_circle</span>
            <div class="me-2 d-flex align-items-center">
                <span class="d-inline-block me-2">Group: </span>
                <span>
                    <a [routerLink]="'/group/'+event.groupId">{{event.groupId | groupName | async}}</a>
                </span>
            </div>
        </div>
        <div class="d-flex align-items-center mb-3 flex-wrap">
            <span class="material-symbols-outlined me-2">event</span>
            <span class="me-3">Date: {{event.startTime | date:'MMM d, y (EEEE)'}}</span>
        </div>
        <div class="d-flex align-items-center mb-3 flex-wrap">
            <span class="material-symbols-outlined me-2">schedule</span>
            <span class="me-3">Time: {{event.startTime | date:"h:mm:ss a":"+0000"}}</span>
        </div>
        <div class="d-flex align-items-center mb-3">
            <span class="material-symbols-outlined me-2">timelapse</span>
            <span class="me-3">Duration: {{event.duration}} Mins</span>
        </div>
    </div>
    <div class="my-2 d-flex flex-wrap align-items-center">
        <span class="me-2 mb-2">
            <h6 class="d-inline-block m-0">Created By:</h6>
        </span>
        <div class="d-flex align-items-center flex-wrap">
            <user-pill [userID]="event.createdBy"></user-pill>
        </div>
    </div>
    <div class="my-2 d-flex flex-wrap align-items-center">
        <span class="me-2 mb-2">
            <h6 class="d-inline-block m-0">Users Attending:</h6>
        </span>
        <div class="d-flex align-items-center flex-wrap">
            <user-pill [userID]="memberID" *ngFor="let memberID of event.acceptedUsers"></user-pill>
        </div>
    </div>


</div>