<div class="my-5 d-flex justify-content-center">
    <h2>Tag Along Login</h2>
</div>
<form class="m-5 p-5 card" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-floating mb-4">
        <input type="email" class="form-control" id="emailInput" placeholder="name@example.com" formControlName="email">
        <label for="emailInput">Email Address</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="passwordInput" placeholder="Password"
            formControlName="password">
        <label for="passwordInput">Password</label>
    </div>

    <div class="my-5 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary px-5 py-2" [ngClass]="{'disabled': loginForm.invalid}"
            [disabled]="loginForm.invalid">Login</button>
    </div>
</form>