<div class="m-5 p-5 card">
    <ng-container *ngIf="!isGroupLoading; else loadingSection">
        <h3 class="mb-4">{{groupData?.name}}</h3>
        <p class="text-pre-wrap">{{groupData?.description}}</p>
        <div class="my-2 d-flex flex-wrap align-items-center">
            <span class="me-2 mb-2">
                <h6 class="d-inline-block m-0">Created By:</h6>
            </span>
            <div class="d-flex align-items-center flex-wrap">
                <user-pill [userID]="groupData!.createdBy"></user-pill>
            </div>
        </div>
        <div class="my-2 d-flex flex-wrap align-items-center">
            <span class="me-2 mb-2">
                <h6 class="d-inline-block m-0">Group Members:</h6>
            </span>
            <div class="d-flex align-items-center flex-wrap">
                <user-pill [userID]="memberID" *ngFor="let memberID of groupData?.userList"></user-pill>
            </div>
        </div>
    </ng-container>


    <div class="mb-2 mt-5 d-flex align-items-center justify-content-between">
        <h5 class="m-0">Events</h5>
        <button class="btn btn-outline-success btn-sm d-flex align-items-center" routerLink="new-event">
            <span class="material-symbols-outlined me-2">
                add_circle
            </span>
            Add Event
        </button>
    </div>
    <div class="event-card-container" *ngIf="!isEventLoading; else loadingSection">
        <event-detail [event]="event" *ngFor="let event of events"></event-detail>
    </div>
</div>

<ng-template #loadingSection>
    <div class="d-flex my-5 justify-content-center">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
</ng-template>